h1{
    color: crimson;
    font-family: fantasy; /
}

h2{ color:aqua;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{ background-color: goldenrod;
}